body {
  background: gray url("../img/fon_wall.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.content {
  position: relative;
  left: 18%;
  width: 82%;
}
body h1 {
  color: lightyellow;
}
p, li {
  margin-top: 1%;
  padding-right: 2%;
  color: cyan;
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  font-style: oblique;
}
.content #img_1,#img_3 {
  margin-left: 2%;
  border: 4px solid black;
}
.content #img_2 {
  margin-left: 0;
  margin-right: 2%;
  border: 4px solid black;
}
.content a {
  color: red;
}
form {
  overflow: auto;
  background: gray url("../img/fon_form.jpg");
  background-size: 100% 100%;
  margin-left: 16%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
  border: 4px solid black;
  border-radius: 30px;
}
.form p {
  margin-left: 1%;
}
input {
  color: purple;
}
#files {
  color: black;
  margin-bottom: 1%;
}
textarea {
  margin-right: 24%;
  color: purple;
  width: 100%;
  height: 160px;
}
