body {
  background: gray url("../img/fon_wall.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h1 {
  color: lightyellow;
}
h2 {
  color: #cfc1ec;
}
.content {
  margin:1%;
  padding-left: 22%;
}
img {
  border: 4px solid black;
}
