.menu{
  margin: 1%;
  position: fixed;
  background: rgba(20, 20, 20, 0.6);
  border: 4px ridge darkgreen;
  border-radius: 30px;
}
#current_page_name {
  font-size: 16px;
  font-style: oblique;
  color: silver;
}
.menu a{
  color: orange;
}
.menu li{
  margin: 2px;
  padding: 2px;
  font-size: 16px;
  font-style: oblique;
  color: silver;
  font-weight: bold;
}
