.menu{
  margin: 1%;
  position: fixed;
  background: rgba(20, 20, 20, 0.6);
  border: 4px ridge darkgreen;
  border-radius: 30px;
}
#current_page_name {
  font-size: 28px;
  color: silver;
}
.menu a{
  font-size: 25px;
  color: orange;
}
li{
  margin: 6px;
  padding: 6px;
  font-size: 25px;
}
